name: Run Python Script Daily

on:
  schedule:
    - cron: "0 16 * * *"   # Runs every day at 16:00 UTC
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        default: 'development'

jobs:
  run-script:
    runs-on: ubuntu-latest

    env:
      CHANNEL_GROUPS: ${{ secrets.CHANNEL_GROUPS }}   # JSON secret
      DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}  # Bot I created by using discord for developers
      DISCORD_USER_ID: ${{ secrets.DISCORD_USER_ID }}  # My discord user ID (you can get it by going to settings > advanced > enable developer mode > right click a user)
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      # I'll start by using set +x to disable command echoing (don't show in logs).
      # As a first step, I'll create a DM Channel and get its ID (I could also get the Channel ID by messaging the bot and then using the same method I did to get the user ID, but this also serves as a tutorial).
      # As a second step, I'll run the youtube.py script and save the result (the body we print) in the OUTPUT variable.
      # As a third step, I'll DM me the content using curl, with -s = silent, -o /dev/null = discard output.
      - name: Run script
        run: |
          set +x
          
          DM_CHANNEL=$(curl -s -X POST "https://discord.com/api/v10/users/@me/channels" \
          -H "Authorization: Bot $DISCORD_BOT_TOKEN" \
          -H "Content-Type: application/json" \
          -d "{\"recipient_id\": \"$DISCORD_USER_ID\"}")

          if [[ $? -ne 0 ]]; then
            set -x
            echo "Error creating DM channel"
            exit 1
          fi

          CHANNEL_ID=$(echo "$DM_CHANNEL" | jq -r '.id')

          if [[ -z "$CHANNEL_ID" ]]; then
            set -x
            echo "Failed to retrieve channel ID"
            exit 1
          fi

          OUTPUT=$(python youtube.py)

          if [[ $? -ne 0 ]]; then
            set -x
            echo "Error running python script"
            exit 1
          fi
          
          CONTENT=$(echo "$OUTPUT" | jq -Rs .)

          curl -s -o /dev/null \
          -X POST "https://discord.com/api/v10/channels/$CHANNEL_ID/messages" \
          -H "Authorization: Bot $DISCORD_BOT_TOKEN" \
          -H "Content-Type: application/json" \
          -d "{"content": "$CONTENT"}"

          if [[ $? -ne 0 ]]; then
            set -x
            echo "Error sending DM message"
            exit 1
          fi

          set -x
          echo "Script executed successfully"
          exit 0
