name: Run Python Script Daily

on:
  schedule:
    - cron: "0 20 * * *"   # Runs every day at 16:00 UTC

jobs:
  run-script:
    runs-on: ubuntu-latest

    env:
      CHANNEL_GROUPS: ${{ secrets.CHANNEL_GROUPS }}   # JSON secret
      DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}  # Bot I created by using discord for developers
      DISCORD_USER_ID: ${{ secrets.DISCORD_USER_ID }}  # My discord user ID (you can get it by going to settings > advanced > enable developer mode > right click a user)
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        run: |
          set +x  # Disable command echoing (don't show in logs)
          
          # Step 1: Create DM Channel
          DM_CHANNEL=$(curl -s -X POST "https://discord.com/api/v10/users/@me/channels" \
          -H "Authorization: Bot $DISCORD_BOT_TOKEN" \
          -H "Content-Type: application/json" \
          -d "{\"recipient_id\": \"$DISCORD_USER_ID\"}")

          CHANNEL_ID=$(echo "$DM_CHANNEL" | jq -r '.id')

          # Step 2: Run the script
          OUTPUT=$(python youtube.py)

          # Step 3: Send DM
          curl -H "Content-Type: application/json" \
          -H "Authorization: Bot $DISCORD_BOT_TOKEN" \
          -X POST \
          -d "{\"content\": \"Your Daily Subscription Activity:\n$OUTPUT\"}" \
          https://discord.com/api/v10/channels/$CHANNEL_ID/messages

          set -x
          exit 0
